pkgbase = mingw-w64-qt5-location-static
	pkgdesc = Provides access to position, satellite and area monitoring classes (mingw-w64)
	pkgver = 5.15.14+kde+r7
	pkgrel = 1
	url = https://www.qt.io/
	arch = any
	groups = mingw-w64-qt5
	license = GPL3
	license = LGPL
	license = FDL
	license = custom
	makedepends = mingw-w64-gcc
	makedepends = mingw-w64-pkg-config
	makedepends = git
	depends = mingw-w64-qt5-base-static
	depends = mingw-w64-qt5-declarative-static
	depends = mingw-w64-qt5-location
	options = !strip
	options = !buildflags
	options = staticlibs
	source = git+https://invent.kde.org/qt/qt/qtlocation#commit=3beb9c810611337fde61d89aa981e9f177a9ede9
	sha256sums = dc670dfa97df6934114d5e85db5ebfbbe892cd6f17e7b3ff478d9dd6e9e0d4f8

pkgname = mingw-w64-qt5-location-static
